*,*::after,*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: grid;
    place-items: center;
    min-height: 100dvh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    display: grid;
    padding: 1rem;
    gap: 1rem;
    place-items: center;
    width: fit-content;
    margin: 0 auto;
}
.result p {
    opacity: 0;
    font-size: 1rem;
    font-weight: 700;
   
    color: #fff;
    display: none;
    height: none;
}
.reset {
    color: black;
    font-weight: 700;
    text-decoration: none;
    background-color: #fff;
    padding: 8px 1rem;
    border-radius: 69px;
    -webkit-border-radius: 69px;
    -moz-border-radius: 69px;
    -ms-border-radius: 69px;
    -o-border-radius: 69px;
}

input[type="checkbox"] {
    display: none;
}

.crosses, .circles {
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    width: fit-content;
}

label {
    cursor: pointer;
    width: 100%;
    aspect-ratio: 1;
    display: block;
    width: min(25vw, 200px);
    position: relative;
    outline: 5px solid rgba(128, 128, 128, 0.163);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.crosses {
    z-index: 1;
}
.circles {
    z-index: 0;
}

.crosses label {
    --_svg-size: 100%;
    background: url('cross.svg');
    background-position: center;
    background-size: 0px;
}

.circles label {
    --_svg-size: 85%;
    background: url('circle.svg');
    background-position: center;
    background-size: 0px;
    background-repeat:no-repeat;
}

label::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: var(--_svg-size);
    background-repeat:no-repeat;
    background-image: url('cross.svg');
    opacity: 0;
    transition: opacity 250ms ease;
    -webkit-transition: opacity 250ms ease;
    -moz-transition: opacity 250ms ease;
    -ms-transition: opacity 250ms ease;
    -o-transition: opacity 250ms ease;
}

.circles label::after {
    background-image: url('circle.svg');
}

label:hover::after {
    opacity: .5;
}







input:checked + label {
    background-size: var(--_svg-size);
    pointer-events: none;
    cursor: auto;
}


.crosses:has(input:nth-of-type(1):checked) ~ .circles input:nth-of-type(1) + label ,
.crosses:has(input:nth-of-type(2):checked) ~ .circles input:nth-of-type(2) + label ,
.crosses:has(input:nth-of-type(3):checked) ~ .circles input:nth-of-type(3) + label ,
.crosses:has(input:nth-of-type(4):checked) ~ .circles input:nth-of-type(4) + label ,
.crosses:has(input:nth-of-type(5):checked) ~ .circles input:nth-of-type(5) + label ,
.crosses:has(input:nth-of-type(6):checked) ~ .circles input:nth-of-type(6) + label ,
.crosses:has(input:nth-of-type(7):checked) ~ .circles input:nth-of-type(7) + label ,
.crosses:has(input:nth-of-type(8):checked) ~ .circles input:nth-of-type(8) + label ,
.crosses:has(input:nth-of-type(9):checked) ~ .circles input:nth-of-type(9) + label {
    pointer-events: none;
}
.crosses:has(~.circles input:nth-of-type(1):checked) input:nth-of-type(1) + label ,
.crosses:has(~.circles input:nth-of-type(2):checked) input:nth-of-type(2) + label ,
.crosses:has(~.circles input:nth-of-type(3):checked) input:nth-of-type(3) + label ,
.crosses:has(~.circles input:nth-of-type(4):checked) input:nth-of-type(4) + label ,
.crosses:has(~.circles input:nth-of-type(5):checked) input:nth-of-type(5) + label ,
.crosses:has(~.circles input:nth-of-type(6):checked) input:nth-of-type(6) + label ,
.crosses:has(~.circles input:nth-of-type(7):checked) input:nth-of-type(7) + label ,
.crosses:has(~.circles input:nth-of-type(8):checked) input:nth-of-type(8) + label ,
.crosses:has(~.circles input:nth-of-type(9):checked) input:nth-of-type(9) + label ,
.crosses:has(~.circles input:nth-of-type(1):checked) input:nth-of-type(1) + label ,
.crosses:has(~.circles input:nth-of-type(1):checked) input:nth-of-type(1) + label {
    pointer-events: none;
}
/* X -> O */
.crosses:has(input:checked) {
    z-index: -1;
}
/* O -> X*/
.container:has( .circles input:checked) .crosses {
    z-index: 1; 
}
/* X -> O */
.container:has( .crosses input:checked ~ input:checked) .crosses {
    z-index: -1; 
}
/* O -> X */
.container:has( .circles input:checked ~ input:checked) .crosses {
    z-index: 1; 
}
.container:has( .crosses input:checked ~ input:checked~ input:checked) .crosses {
    z-index: -1; 
}

.container:has( .circles input:checked ~ input:checked~ input:checked) .crosses {
    z-index: 1; 
}
.container:has( .crosses input:checked ~ input:checked ~ input:checked ~ input:checked) .crosses {
    z-index: -1; 
}

.container:has( .circles input:checked ~ input:checked~ input:checked ~ input:checked) .crosses {
    z-index: 1; 
}

/* x wins */
.crosses:has(input:checked:nth-of-type(1) ~ input:checked:nth-of-type(2) ~ input:checked:nth-of-type(3)) ~ .result p:nth-of-type(1) ,
.crosses:has(input:checked:nth-of-type(1) ~ input:checked:nth-of-type(4) ~ input:checked:nth-of-type(7)) ~ .result p:nth-of-type(1) ,
.crosses:has(input:checked:nth-of-type(1) ~ input:checked:nth-of-type(5) ~ input:checked:nth-of-type(9)) ~ .result p:nth-of-type(1) ,
.crosses:has(input:checked:nth-of-type(2) ~ input:checked:nth-of-type(5) ~ input:checked:nth-of-type(8)) ~ .result p:nth-of-type(1) ,
.crosses:has(input:checked:nth-of-type(3) ~ input:checked:nth-of-type(6) ~ input:checked:nth-of-type(9)) ~ .result p:nth-of-type(1) ,
.crosses:has(input:checked:nth-of-type(7) ~ input:checked:nth-of-type(8) ~ input:checked:nth-of-type(9)) ~ .result p:nth-of-type(1) ,
.crosses:has(input:checked:nth-of-type(4) ~ input:checked:nth-of-type(5) ~ input:checked:nth-of-type(6)) ~ .result p:nth-of-type(1) ,
.crosses:has(input:checked:nth-of-type(3) ~ input:checked:nth-of-type(5) ~ input:checked:nth-of-type(7)) ~ .result p:nth-of-type(1) {
    opacity: 1;
    height: fit-content;
    display: block;
}

/* x wins */
.crosses:has(input:checked:nth-of-type(1) ~ input:checked:nth-of-type(2) ~ input:checked:nth-of-type(3)) ~ .result p:nth-of-type(3) ,
.crosses:has(input:checked:nth-of-type(1) ~ input:checked:nth-of-type(4) ~ input:checked:nth-of-type(7)) ~ .result p:nth-of-type(3) ,
.crosses:has(input:checked:nth-of-type(1) ~ input:checked:nth-of-type(5) ~ input:checked:nth-of-type(9)) ~ .result p:nth-of-type(3) ,
.crosses:has(input:checked:nth-of-type(2) ~ input:checked:nth-of-type(5) ~ input:checked:nth-of-type(8)) ~ .result p:nth-of-type(3) ,
.crosses:has(input:checked:nth-of-type(3) ~ input:checked:nth-of-type(6) ~ input:checked:nth-of-type(9)) ~ .result p:nth-of-type(3) ,
.crosses:has(input:checked:nth-of-type(7) ~ input:checked:nth-of-type(8) ~ input:checked:nth-of-type(9)) ~ .result p:nth-of-type(3) ,
.crosses:has(input:checked:nth-of-type(4) ~ input:checked:nth-of-type(5) ~ input:checked:nth-of-type(6)) ~ .result p:nth-of-type(3) ,
.crosses:has(input:checked:nth-of-type(3) ~ input:checked:nth-of-type(5) ~ input:checked:nth-of-type(7)) ~ .result p:nth-of-type(3) {
    opacity: 0 !important;
    height: 0 !important;
    display: none;
}
.crosses:has(input:checked:nth-of-type(1) ~ input:checked:nth-of-type(2) ~ input:checked:nth-of-type(3)) ~ .result ,
.crosses:has(input:checked:nth-of-type(1) ~ input:checked:nth-of-type(4) ~ input:checked:nth-of-type(7)) ~ .result ,
.crosses:has(input:checked:nth-of-type(1) ~ input:checked:nth-of-type(5) ~ input:checked:nth-of-type(9)) ~ .result ,
.crosses:has(input:checked:nth-of-type(2) ~ input:checked:nth-of-type(5) ~ input:checked:nth-of-type(8)) ~ .result ,
.crosses:has(input:checked:nth-of-type(3) ~ input:checked:nth-of-type(6) ~ input:checked:nth-of-type(9)) ~ .result ,
.crosses:has(input:checked:nth-of-type(7) ~ input:checked:nth-of-type(8) ~ input:checked:nth-of-type(9)) ~ .result ,
.crosses:has(input:checked:nth-of-type(4) ~ input:checked:nth-of-type(5) ~ input:checked:nth-of-type(6)) ~ .result ,
.crosses:has(input:checked:nth-of-type(3) ~ input:checked:nth-of-type(5) ~ input:checked:nth-of-type(7)) ~ .result {
    opacity: 1;
}
/* prevent moves after game over */
.crosses:has(input:checked:nth-of-type(1) ~ input:checked:nth-of-type(2) ~ input:checked:nth-of-type(3)) ~ .circles ,
.crosses:has(input:checked:nth-of-type(1) ~ input:checked:nth-of-type(4) ~ input:checked:nth-of-type(7)) ~ .circles ,
.crosses:has(input:checked:nth-of-type(1) ~ input:checked:nth-of-type(5) ~ input:checked:nth-of-type(9)) ~ .circles ,
.crosses:has(input:checked:nth-of-type(2) ~ input:checked:nth-of-type(5) ~ input:checked:nth-of-type(8)) ~ .circles ,
.crosses:has(input:checked:nth-of-type(3) ~ input:checked:nth-of-type(6) ~ input:checked:nth-of-type(9)) ~ .circles ,
.crosses:has(input:checked:nth-of-type(7) ~ input:checked:nth-of-type(8) ~ input:checked:nth-of-type(9)) ~ .circles ,
.crosses:has(input:checked:nth-of-type(4) ~ input:checked:nth-of-type(5) ~ input:checked:nth-of-type(6)) ~ .circles ,
.crosses:has(input:checked:nth-of-type(3) ~ input:checked:nth-of-type(5) ~ input:checked:nth-of-type(7)) ~ .circles {
    user-select: none;
    pointer-events: none;
    opacity: .25;
}

/* o wins */
.circles:has(input:checked:nth-of-type(1) ~ input:checked:nth-of-type(5) ~ input:checked:nth-of-type(9)) ~ .result p:nth-of-type(2) ,
.circles:has(input:checked:nth-of-type(2) ~ input:checked:nth-of-type(5) ~ input:checked:nth-of-type(8)) ~ .result p:nth-of-type(2) ,
.circles:has(input:checked:nth-of-type(3) ~ input:checked:nth-of-type(6) ~ input:checked:nth-of-type(9)) ~ .result p:nth-of-type(2) ,
.circles:has(input:checked:nth-of-type(7) ~ input:checked:nth-of-type(8) ~ input:checked:nth-of-type(9)) ~ .result p:nth-of-type(2) ,
.circles:has(input:checked:nth-of-type(1) ~ input:checked:nth-of-type(4) ~ input:checked:nth-of-type(7)) ~ .result p:nth-of-type(2) ,
.circles:has(input:checked:nth-of-type(1) ~ input:checked:nth-of-type(2) ~ input:checked:nth-of-type(3)) ~ .result p:nth-of-type(2) ,
.circles:has(input:checked:nth-of-type(4) ~ input:checked:nth-of-type(5) ~ input:checked:nth-of-type(6)) ~ .result p:nth-of-type(2) ,
.circles:has(input:checked:nth-of-type(3) ~ input:checked:nth-of-type(5) ~ input:checked:nth-of-type(7)) ~ .result p:nth-of-type(2) {
    opacity: 1;
    height: fit-content;
    display: block;
}

/* o wins */
.circles:has(input:checked:nth-of-type(1) ~ input:checked:nth-of-type(5) ~ input:checked:nth-of-type(9)) ~ .result p:nth-of-type(3) ,
.circles:has(input:checked:nth-of-type(2) ~ input:checked:nth-of-type(5) ~ input:checked:nth-of-type(8)) ~ .result p:nth-of-type(3) ,
.circles:has(input:checked:nth-of-type(3) ~ input:checked:nth-of-type(6) ~ input:checked:nth-of-type(9)) ~ .result p:nth-of-type(3) ,
.circles:has(input:checked:nth-of-type(7) ~ input:checked:nth-of-type(8) ~ input:checked:nth-of-type(9)) ~ .result p:nth-of-type(3) ,
.circles:has(input:checked:nth-of-type(1) ~ input:checked:nth-of-type(4) ~ input:checked:nth-of-type(7)) ~ .result p:nth-of-type(3) ,
.circles:has(input:checked:nth-of-type(1) ~ input:checked:nth-of-type(2) ~ input:checked:nth-of-type(3)) ~ .result p:nth-of-type(3) ,
.circles:has(input:checked:nth-of-type(4) ~ input:checked:nth-of-type(5) ~ input:checked:nth-of-type(6)) ~ .result p:nth-of-type(3) ,
.circles:has(input:checked:nth-of-type(3) ~ input:checked:nth-of-type(5) ~ input:checked:nth-of-type(7)) ~ .result p:nth-of-type(3) {
    opacity: 0 !important;
    height: 0 !important;
    display: none;
}


.circles:has(input:checked:nth-of-type(1) ~ input:checked:nth-of-type(5) ~ input:checked:nth-of-type(9)) ~ .result,
.circles:has(input:checked:nth-of-type(2) ~ input:checked:nth-of-type(5) ~ input:checked:nth-of-type(8)) ~ .result,
.circles:has(input:checked:nth-of-type(3) ~ input:checked:nth-of-type(6) ~ input:checked:nth-of-type(9)) ~ .result,
.circles:has(input:checked:nth-of-type(7) ~ input:checked:nth-of-type(8) ~ input:checked:nth-of-type(9)) ~ .result,
.circles:has(input:checked:nth-of-type(1) ~ input:checked:nth-of-type(4) ~ input:checked:nth-of-type(7)) ~ .result,
.circles:has(input:checked:nth-of-type(1) ~ input:checked:nth-of-type(2) ~ input:checked:nth-of-type(3)) ~ .result,
.circles:has(input:checked:nth-of-type(4) ~ input:checked:nth-of-type(5) ~ input:checked:nth-of-type(6)) ~ .result,
.circles:has(input:checked:nth-of-type(3) ~ input:checked:nth-of-type(5) ~ input:checked:nth-of-type(7)) ~ .result{
    opacity: 1;
}

/* prevent moves after game over */
.container:has( .circles input:checked:nth-of-type(1) ~ input:checked:nth-of-type(5) ~ input:checked:nth-of-type(9)) .crosses,
.container:has( .circles input:checked:nth-of-type(2) ~ input:checked:nth-of-type(5) ~ input:checked:nth-of-type(8)) .crosses,
.container:has( .circles input:checked:nth-of-type(3) ~ input:checked:nth-of-type(6) ~ input:checked:nth-of-type(9)) .crosses,
.container:has( .circles input:checked:nth-of-type(7) ~ input:checked:nth-of-type(8) ~ input:checked:nth-of-type(9)) .crosses,
.container:has( .circles input:checked:nth-of-type(1) ~ input:checked:nth-of-type(4) ~ input:checked:nth-of-type(7)) .crosses,
.container:has( .circles input:checked:nth-of-type(1) ~ input:checked:nth-of-type(2) ~ input:checked:nth-of-type(3)) .crosses,
.container:has( .circles input:checked:nth-of-type(4) ~ input:checked:nth-of-type(5) ~ input:checked:nth-of-type(6)) .crosses,
.container:has( .circles input:checked:nth-of-type(3) ~ input:checked:nth-of-type(5) ~ input:checked:nth-of-type(7)) .crosses{
    user-select: none;
    pointer-events: none;
    opacity: .25;
}

/* draw */
.container:has( .crosses input:checked ~ input:checked~ input:checked ~ input:checked ~ input:checked) .result {
    opacity: 1;
}
.container:has( .crosses input:checked ~ input:checked~ input:checked ~ input:checked ~ input:checked) .result p:nth-child(3) {
    opacity: 1;
    height: fit-content;
    display: block;
}

.result {
    background-color: crimson;
    width: fit-content;
    padding: 1rem 2rem;
    border-radius: 69px;
    -webkit-border-radius: 69px;
    -moz-border-radius: 69px;
    -ms-border-radius: 69px;
    -o-border-radius: 69px;
    transition: opacity 300ms, transform 300ms;
    -webkit-transition: opacity 300ms, transform 300ms;
    -moz-transition: opacity 300ms, transform 300ms;
    -ms-transition: opacity 300ms, transform 300ms;
    -o-transition: opacity 300ms, transform 300ms;
    opacity: 0;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
}



